/* div{
    background-color: darkgray;
} */

a{
    color: black;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight:bolder;
    margin-inline: 10px;
}


div {
    background-color: darkgray;
    margin: 20 auto;
    padding: 5px;;
    /* border: 1px solid #ddd; */
  }