.about {
    display: grid;
    grid-template-row: repeat(3 1fr);
    background-color:rgb(143, 146, 138);
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
}

.section1 {
    display: grid;
    grid-row: 1/ span 2;
    margin-left: 100px;
}

h1 {

    font-family: 'Courier New', Courier, monospace;
    color: yellow;
    font-size: 40px;
}

.foodPic {
    display: grid;
    grid-row: 2/ span 1;
    margin-top: 20px;
    margin-bottom: -20px;
    margin-right: 100px;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
    margin-top: -10px;
}

.button{
    width: 130px;
    height: 25px;
    background-color: yellowgreen;
    margin-left: 50px;
    border-radius: 10px;
    padding: '20px',
}

.button a{
    text-align: center;
    color: white;
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight:bolder;
    margin-inline: 10px;

}